@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-montserrat font-medium ring-zinc-400 focus:outline-none focus:ring-4;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}

@layer components {
  .btn {
    @apply bg-black px-5 py-3 text-white transition-all hover:scale-105 active:scale-100;
  }
}

#__next {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
