@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-montserrat font-medium ring-zinc-400 focus:outline-none focus:ring-4;
  scrollbar-width: thin; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: none !important;
  background-color: transparent !important;
}

*::-webkit-scrollbar {
  width: 6px !important;
  position: absolute;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  @apply bg-black/75;
}

input[type='checkbox'] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}

@layer components {
  .btn {
    @apply bg-black px-5 py-3 text-white transition-all hover:scale-105 active:scale-100;
  }

  .btn-icon {
    @apply fill-black p-1 text-xl transition-all hover:scale-105 active:scale-100;
  }

  .divider {
    @apply my-5 h-px w-full bg-zinc-200;
  }

  .overflow-overlay {
    overflow-y: scroll;
    overflow-y: overlay;
  }

  .input {
    @apply rounded-md border px-2 py-1;
  }
}

#__next,
#portal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow-y: overlay;
}

#portal {
  z-index: 1;
}
